*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: linear-gradient(rgb(163, 157, 157), rgb(232, 216, 194));
}

#pageTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: black;
}


#filter{
    margin-left: 50px;
    margin-top: 30px;
}

label{
    font-weight: 600;
}

#news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    border: 10px solid #1b2e35;
    border-radius: 20px;
    padding: 30px;
    margin:20px 10px;
    background: rgb(210, 193, 171);
    min-width: 240px;
    max-width: 240px;
    align-items: center;
}

#content{
    min-height: 250px;
    /* border: 2px #fff solid; */
    padding: 5px;
    margin: 5px;
}

#newsImage{
    background-color: #1b2e35;
    border-radius: 10px;
}

img{
    min-height: 150px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#newsImage:hover{
    transform: scale(1.2);
    transition: 1s;
}

article:hover #newsTitle{
    color: rgb(0, 0, 0);
}
#newsTitle{
    color:rgb(81, 74, 74);
    text-decoration: underline;
    min-height: 100px;
}
hr{
    width:100%;
    text-align:left;
    margin-left:0;
    background-color: #1b2e35;
}

#readMore{
    text-align: center;
}
a.button {
    text-decoration: none;
    color: initial;
    border: 1px solid #1b2e35;
    padding: 5px;
    border-radius: 20px;
    opacity: 0.5;
}

a.button:hover{
    opacity: 1;
    transition: 0.5s;
}
