.container {
    padding: 100px;
}

.form {
    width: 25%;
    background-color: rgb(217, 217, 73);
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#emailDisplay,
#dovDisplay,
#commentDisplay {
    text-align: center;
    font-size: large;
    padding-top: 5px;
}